/* ProfileCard.css */
.profile-card {
    width: 90%;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
}

.avatar, .user-name {
    margin-top: 10px;
}

.info-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.password-form {
    margin-top: 20px;
}

.view-password-icon {
    cursor: pointer;
    margin-left: 10px;
}

.password-form .form-control {
    margin-bottom: 10px;
}

.password-form .btn {
    margin-top: 10px;
}
