@media (max-width: 576px) {
    .box-cell {
      margin-bottom: 20px;
    }
  
    .box-cell-ImagePreview,
    .box-cell-JsonPreview,
    .box-cell-tablePreview {
      width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .box-cell {
      margin-bottom: 20px;
    }
  
    .box-cell-ImagePreview,
    .box-cell-JsonPreview,
    .box-cell-tablePreview {
      width: auto;
      height: auto;
    }
  }
  
@media (min-width: 992px) {
  .box-cell {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box-cell-ImagePreview {
    width: 100%;
    height: auto;
  }

  .box-cell-JsonPreview,
  .box-cell-tablePreview {
    width: 100%;
    height: auto;
  }
}
