/* Button.css */

.custom-button {
    padding: 10px 20px; /* Adjust padding as needed */
    margin-right: 10px; /* Add margin between buttons */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor on hover */
  }
  
  .custom-button:hover {
    background-color: #0056b3; /* Change background color on hover */
  }
