/* LoginComponent.css */

.glass-effect {
  background-color: rgba(255, 255, 255, 0.6); /* Adjust opacity as needed */
  backdrop-filter: blur(10px); /* Apply blur effect */
  border-radius: 15px;
  transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
}

.glass-effect:hover {
  transform: scale(1.02); /* Scale up on hover */
}

.login-button:hover {
  background-color: #007bff; /* Change background color on hover */
}
