/* NavBar styles */
.navbar-container {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  transition: all 0.3s ease;
}

.navbar-nav .nav-link {
  color: #333333; 
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-btn {
  margin-left: 15px;
  margin: 10px;
}

.navbar-btn:hover {
  transform: translateY(-2px);
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}

/* Animation for fixed navbar */
.fixed-top.navbar-scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.fixed-top.navbar-scrolled .navbar-brand img {
  width: 150px;
}

.fixed-top.navbar-scrolled .navbar-nav .nav-link {
  color: #333333;
}

.fixed-top.navbar-scrolled .navbar-nav .nav-link:hover {
  color: #007bff;
}
