.product-overview {
    margin-top: 20px;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    width: 500px;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .product-details h2 {
    font-size: 2rem;
  }
  
  .product-details p {
    font-size: 1.2rem;
  }
  
  .product-details ul {
    list-style-type: none;
    padding-left: 0; 
  }
  
  .product-details ul li {
    margin-bottom: 10px; 
  }
  
  .product-details button {
    margin-top: 20px;
  }
  