.profile-card {
    margin: 10px !important;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.profile-card:hover {
    transform: translateY(-5px);
}

.profile-info {
    text-align: left;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info-icon {
    margin-right: 10px;
}

.passContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgb(215, 214, 214);
    padding: 10px;
}

.pass-update {
    text-align: center;
}
