/* ProfileCard.css */
.greetings {
    font-size: 20px;
    color: #6c757d;
    margin-bottom: 10px;
    text-align: center;
}

.profile-info {
    padding: 20px;
}

.info-icon {
    margin-right: 10px;
}

.info-item{
    font-size: 18px;
}

.profile-username {
    margin-left: 10px; /* Adjusts spacing between the avatar and the name */
    font-size: 28px; /* Adjusts font size for visibility */
    font-weight: normal; /* Adjusts weight of the font */
}

.change-btn{
    background-color: rgb(3, 141, 233);
    margin: 15px;
}