.sponsors-marquee {
    background-color: transparent;
    padding: 20px 0; 
    overflow: hidden;
  }
  
  .marquee-container {
    display: flex;
    overflow-x: auto;
  }
  
  .marquee-content {
    display: flex;
  }
  
  .sponsor-logo {
    width: 300px;
    height: 60px;
    margin-right: 20px; 
  }
  
  .sponsor-logo:last-child {
    margin-right: 0; 
  }
  