/* SummaryCard.css */
.summary-card-container {
    margin-bottom: 20px;
}

.summary-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.summary-card:hover {
    transform: translateY(-5px);
}

.summary-info-card {
    background-color: #fff; /* Set background to white or transparent */
    margin-bottom: 20px;
    border: 2px solid transparent; /* Default invisible border, overridden below */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Add transition for border color */
}

.summary-info-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-custom1 {
    border-color: #ff6b6b; /* Light Red */
}

.bg-custom2 {
    border-color: #48dbfb; /* Sky Blue */
}

.bg-custom3 {
    border-color: #feca57; /* Yellow */
}

.bg-custom4 {
    border-color: #8078fe; /* Purple */
}

.bg-custom5 {
    border-color: #1dd1a1; /* Green */
}

.bg-custom6 {
    border-color: #520000; /* Green */
}

.card-title {
    font-size: 15px !important;
    text-align: center;
}

.card-text {
    font-size: 25px !important;
    font-weight: bolder;
    text-align: center;
}
.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
}