.verification-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tick-mark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.verification-message {
    text-align: center;
    font-size: 18px;
}

.login-link {
    color: #00cc66; /* Green color for link */
    text-decoration: none;
}
.tick-mark {
    color: #00cc66; /* Green color */
}

.tick-icon {
    font-size: 100px;
}
